*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  border: none;
}

.email-wrapper {
  width: 100%;
}

.email-container {
  width: 100%;
}

.email-body {
  padding: 8px 16px;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 8px;
}

.footer-horizontal-line {
  background-color: #efefef;
  height: 2px;
  width: 100%;
  border-radius: 999px;
}

.footer {
  font-size: 13px;
  color: #6b7280;
}
